html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* montserrat-regular - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-regular - cyrillic */
@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif'), local('NotoSerif'),
        url('../fonts/noto-serif-v8-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/noto-serif-v8-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - cyrillic */
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('../fonts/noto-serif-v8-cyrillic-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/noto-serif-v8-cyrillic-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - cyrillic */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-slab-v11-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-slab-v11-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 58.75rem;
    margin: 0 auto;
}

/* header */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.75rem 0 6.5rem;
    font-size: 0;
}

.navigation_list {
    display: flex;
    align-items: center;
}

.logotype {
    display: block;
    padding-left: 7px;
}

.logotype-image {
    max-width: 100%;
    height: 100%;
}

.navigation_list-item:not(:last-child) {
    margin-right: 2.5rem;
}

.navigation_list-link {
    font-size: 0.875rem;
    line-height: 2.5625rem;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation_list-link:hover {
    color: #fed136;
}

/* services */

.services {
    padding-bottom: 7.5rem;
}

.services-title {
    font-size: 2.5rem;
    line-height: 4.6875rem;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
}

/* Нижний отступ 17 */

.services-description {
    font-size: 1rem;
    line-height: 1.2;
    color: #777777;
    font-family: 'Noto Serif';
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin-bottom: 4.875rem;
}

/* Нижний отступ 1,5 */

.services-list {
    display: flex;
    justify-content: space-between;
}

.services-list-item {
    width: 18.125rem;
}

.basket::before,
.laptop::before,
.locked::before {
    content: " ";
    display: block;
    height: 66px;
    width: 66px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    border: 3px solid #fed136;
    border-radius: 50%;
    margin: 0 auto 28px;
}

.basket::before {
    background-image: url(../images/basket.png);
}

.laptop::before {
    background-image: url(../images/laptop.png);
}

.locked::before {
    background-image: url(../images/locked.png);
}

.services-list-item-title {
    font-size: 1.125rem;
    letter-spacing: 0px;
    line-height: 1.2;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.1875rem;
}

/* Отступы 2 */

.services-list-item-description {
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: center;
}

/* Нижний отступ 1.5 */

/* Contact */

.contact {
    background-color: #222222;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 20px;
    padding-top: 6.625rem;
    padding-bottom: 6.5rem;
}

.contact-title {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.375rem;
}

/* Отступы 4*/

.contact-description {
    font-size: 1rem;
    line-height: 1.2;
    color: #777777;
    font-family: "Noto Serif";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-align: center;
    margin-bottom: 4.6875rem;
}

/* Отступ 1,5 */

.contact-form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-form-input {
    width: 28.4375rem;
    height: 3.125rem;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    outline: none;
}


.contact-form-input:required:focus:valid:not(:placeholder-shown),
.contact-form-textarea:required:focus:valid:not(:placeholder-shown) {
    border-color: rgb(0, 255, 0);
}

.contact-form-input:required:focus:invalid:not(:placeholder-shown),
.contact-form-textarea:required:focus:invalid:not(:placeholder-shown) {
    border-color: rgb(255, 0, 0);
}

.contact-form-list-input:not(:last-child) {
    margin-bottom: 30px;
}

.contact-form-textarea {
    width: 28.4375rem;
    outline: none;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 19px;
    padding-left: 24px;
}

.contact-form-button-wrapper {
    text-align: center;
}

.contact-form-button {
    border: none;
    border-radius: 3px;
    background-color: #fed136;
    font-size: 1.125rem;
    line-height: 1.2;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.5rem 2.875rem;
}